@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500;700&family=PT+Sans&display=swap");

body {
  font-family: "Jost", sans-serif;
}

.stand-out {
  font-size: calc(1.525rem + 3.3vw);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1.05rem;
  color: var(--gray);
}

header {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}

#name {
  font-size: calc(3rem + 4.5vw);
}
